SPRING_PROFILES_ACTIVE=dev

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mgmgives
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SERVER_PORT=8080
JWT_SECRET=9a4f2c8d3e7b1a5f6c8d9e0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

FROM_MAIL=mgm.gives@vtk.io.vn
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=a8a119001@smtp-brevo.com
MAIL_PASSWORD=xsmtpsib-daff11283a2dabcbfe7f982e860e1ecf273b6738317b30da8ae48908c44ae5be-BL23ABkXLYu7jMNm
MAIL_VERIFY_EXPIRATION=864000000
